@page
@model UserCommunity.UI.Pages.User.CreateModel
@{
}
<div class="container-fluid">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <span class="text-center">Edit your information</span>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <span class="input-group-text">Name</span>
                    <input asp-for="CurrentUser.FirstName" type="text" aria-label="First name" class="form-control">
                    <span asp-validation-for="CurrentUser.FirstName" class="text-danger"></span>
                    <input asp-for="CurrentUser.SurName" type="text" aria-label="Last name" class="form-control">
                    <span asp-validation-for="CurrentUser.SurName" class="text-danger"></span>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Department</span>
                    <input asp-for="CurrentUser.Department" type="text" aria-label="Department" class="form-control">
                    <span asp-validation-for="CurrentUser.Department" class="text-danger"></span>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Position</span>
                    <input asp-for="CurrentUser.Position" type="text" aria-label="Position" class="form-control">
                    <span asp-validation-for="CurrentUser.Position" class="text-danger"></span>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Working hours</span>
                    <input asp-for="CurrentUser.TimeAtWork" type="text" aria-label="Working hours" class="form-control">
                    <span asp-validation-for="CurrentUser.TimeAtWork" class="text-danger"></span>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Secret</span>
                    <input asp-for="CurrentUser.DarkSecret" type="text" aria-label="Secret" class="form-control">
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Email</span>
                    <input asp-for="CurrentUser.Email" type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
                    <span asp-validation-for="CurrentUser.Email" class="text-danger"></span>
                </div>
                <button asp-page-handler="Save" class="btn btn-primary">Save</button>

            </div>
        </div>
    </form>
</div>
