@page "{handler?}/{id?}"
@model UserCommunity.UI.Pages.User.EditModel
@{
}
<div class="container-fluid">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <span class="text-center">Edit your information</span>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <span class="input-group-text">Name</span>
                    <input type="hidden" asp-for="CurrentUser.ID" value="@Model.CurrentUser.ID" />
                    <input asp-for="CurrentUser.FirstName" type="text" aria-label="First name" class="form-control">
                    <input asp-for="CurrentUser.SurName" type="text" aria-label="Last name" class="form-control">
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Email</span>
                    <input asp-for="CurrentUser.Email" type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
                </div>
                <br>
                <button asp-page-handler="Edit" class="btn btn-primary">Save</button>
                <button asp-page-handler="Delete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </form>
</div>